body {
  margin: 0;
  background-color: rgb(250, 250, 250);
}

.content-container {
  min-height: calc(100vh - 100px);
  min-width: calc(100% - 100vh + 400px);
}

.page-footer {
  position: relative;
  top: 20px;
  width: 100%;
  height: 200px;
  background-color: rgb(81, 81, 81);
}

nav {
  height: 80px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  position: relative;
}

.nav-container {
  position: absolute;
  right: calc((100% - 1190px) / 2);
  width: 264px;
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style: none;
  float: left;
}

.nav-link {
  display: block;
  padding: 0 20px;
  line-height: 80px;
  height: 80px;
  text-align: center;
  font-size: 18px;
}

.nav-link:hover {
  color: rgb(55, 156, 250);
}

.nav-link-current {
  background-color: rgb(55, 156, 250);
  color: white !important;
}

.loading-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  vertical-align: middle;
  z-index: -1;
}

.load {
  width: 80px;
  height: 80px;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 130, 200;
    stroke-dashoffset: -50;
  }
  100% {
    stroke-dasharray: 130, 200;
    stroke-dashoffset: -188;
  }
}
.loading {
  stroke: rgb(53, 157, 218);
  stroke-width: 5;
  fill: none;
  animation: dash 1.5s linear infinite;
}