.svg-list-icon {
    width: 20px;
    height: 20px;
    fill: rgb(200, 200, 200);
    cursor: pointer;
}

.svg-list-icon:hover {
    fill: #31c27c;
}

.search-page-content {
    width: 70%;
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.search-list-container {
    margin-top: 40px;
}

.search-head-container {
    width: 100%;
    min-width: 700px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    color: rgb(160, 160, 160);
}

.search-head-number {
    float: left;
    width: 5%;
    height: 18px;
}

.search-head-name {
    float: left;
    width: 57%;
    height: 16px;
}

.search-head-singer {
    float: left;
    width: calc(38% - 50px);
    height: 16px;
}

.search-head-time {
    float: left;
    width: 50px;
}

.search-item-container {
    width: 100%;
    min-width: 700px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 14px;
}

.odd {
    background: rgba(250, 250, 253, 0.9);
}

.search-item-number {
    float: left;
    width: 5%;
    height: 50px;
}

.search-item-name {
    float: left;
    width: 57%;
    height: 50px;
    overflow: hidden;
}

.search-item-play {
    position: relative;
    float: right;
    top: 5px;
    right: 20px;
}

.search-item-append {
    position: relative;
    float: right;
    top: 5px;
    right: 30px;
}

.blank-space {
    float: left;
    width: 30px;
    height: 50px;
}

.name {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-item-singer {
    float: left;
    width: calc(38% - 50px);
    height: 50px;
    overflow: hidden;
}

.search-item-time {
    float: left;
    width: 50px;
    height: 50px;
}


/*搜索框*/
.search-bar-container {
    position: relative;
    width: 550px;
    height: 50px;
    bottom: 0;
    margin: 0 auto;
    padding: 0 70px 0 15px;
    background: #fff;
    border: 1px solid rgb(211, 211, 211);
    transition: all ease 0.3s;
}

.before-searched {
    bottom: 50vh;
    transform: translateY(75vh);
}

.search-bar-input {
    width: 550px;
    height: 48px;
    border: 0 none;
    outline: none;
    font-size: 16px;
}

.search-bar-button {
    position: absolute;
    background-color: rgb(55, 156, 250);
    top: 0;
    right: -1px;
    width: 60px;
    height: 50px;
    border: 0 none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
}