.playlist-tags {
    display: inline-block;
    position: relative;
    left: calc((100% - 1190px) / 2);
}

.active-tag {
    position: relative;
    border: 1px solid rgb(192, 12, 12) !important;
}

.active-tag::after {
    content: '✓';
    position: absolute;
    float: right;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 8px;
    color: white;
    background: rgb(192, 12, 12);
}

.playlist-tag-container {
    margin: 10px 0 10px 0;
}

.playlist-tag-class {
    display: inline-block;
    padding: 0 12px 0 12px;
    vertical-align: top;
    height: 28px;
    line-height: 28px;
}

.playlist-tag-tabs {
    display: inline-block;
    width: calc(100% - 65px);
    border-collapse: collapse;
}

.playlist-main-tag {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 12px;
    height: 28px;
    width: calc(100% - 35px);
    text-align: center;
    line-height: 28px;
    border: 1px solid rgb(200, 200, 200);
    margin: 7px 0 0 14px;
}

.playlist-main-tag:hover {
    background: rgb(238, 238, 238);
}

.playlist-tag a {
    display: block;
}

.playlist-tag {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 12px;
    height: 28px;
    width: 70px;
    text-align: center;
    line-height: 28px;
    border: 1px solid rgb(200, 200, 200);
    margin: 0 0 -1px -1px;
    padding: 0;
}

.playlist-tag:hover {
    background: rgb(238, 238, 238);
}

.active-tag-name {
    font-size: 24px;
    height: 60px;
    line-height: 60px;
}

.select-tag-button {
    margin-left: 20px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 3px;
    cursor: pointer;
    padding: 1px 5px 1px 5px;
}

.select-tag-button:hover {
    background: rgb(238, 238, 238);
}

.select-icon {
    position: relative;
    width: 18px;
    height: 18px;
    top: 3px;
    transition: all ease 0.3s;
}

.rotated {
    transform:rotate(-180deg);
}

.playlist-tags-container {
    position: absolute;
    left: 0;
    top: 60px;
    width: 500px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 15px 15px -10px rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: all ease 0.5s;
}

.playlist-content {
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
}

.playlist-result {
    text-align: center;
    margin: 0 0 40px 0;
}

.ban-scroll {
    overflow: hidden;
    margin-right: 5px;
}

.pop-up {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.75);
    z-index: 1;
}

.pop-window {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 55%;
    min-width: 800px;
    height: calc(100% - 200px);
    background: rgb(255, 255, 255);
    border-radius: 3px;
}

.modal-portal-toggle {
    position: absolute;
    right: -50px;
    top: -5px;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 38px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.album-container {
    display: inline-block;
    width: 230px;
    height: auto;
    margin: 10px 5px 10px 5px;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
    .album-container {
        width: calc(25% - 20px);
    }

    .nav-container {
        right: 25px !important;
    }

    .playlist-tags {
        left: 25px !important;
    }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
    .album-container {
        width: calc(33% - 15px);
    }

    .nav-container {
        right: 18px !important;
    }

    .playlist-tags {
        left: 18px !important;
    }
}

@media screen and (max-width: 500px) {
    .album-container {
        width: calc(50% - 15px);
    }

    .nav-container {
        right: 10px !important;
    }

    .playlist-tags {
        left: 10px !important;
    }
}

.album-img {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 0;
    padding-bottom: 100%;
    margin: 0;
}

.album-img img{
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: all ease 0.5s;
}

.album-img img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1); /*Safari 和 Chrome*/
    -moz-transform: scale(1.1); /*Firefox*/
    -ms-transform: scale(1.1); /*IE9*/
    -o-transform: scale(1.1); /*Opera*/
}

.album-info {
    height: 40px;
    line-height: 40px;
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    color: rgb(120, 120, 120);
    text-align: left;
}

.album-list-container {
    width: calc(100% - 60px);
    height: calc(100%);
    overflow: auto;
    padding: 0 30px 0 30px;
}

.album-list-container::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(255, 255, 255, 0);
}

.album-list-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(180, 180, 180, 0.6);
}

.album-list-info {
    position: relative;
    height: 200px;
    min-height: 200px;
    padding-left: 225px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.album-list-bg {
    position: absolute;
    float: left;
    left: -30px;
    top: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 50px);
    opacity: 0.3;
    filter: blur(50px);
    z-index: -1;
}

.album-list-pic {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
}

.album-list-pic img {
    width: 100%;
    height: 100%;
}

.album-list-name {
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin: 0 0 20px 0;
}

.all-description-showed {
    height: auto !important;
}

.album-list-description {
    height: 150px;
    min-height: 150px;
    line-height: 30px;
    margin: -5px 0 0 0;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-list-description span {
    font-size: 18px;
}

.after-description {
    margin: 0;
}

.description-toggle {
    position: relative;
    float: right;
    right: 10px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 3px;
    padding: 0 5px 0 5px;
    cursor: pointer;
}

.description-toggle:hover {
    background: rgb(238, 238, 238);
}

.album-list-count {
    height: 50px;
    line-height: 50px;
}

.album-list-item {
    width: 90%;
    height: 30px;
    padding: 12px 0px 0px 0px;
    margin: 0 auto;
    font-size: 14px;
}

.album-list-song-name {
    float: left;
    width: 62%;
    height: 18px;
}

.album-list-item-play {
    float: right;
}

.song-name {
    display: inline-block;
    width: 60%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.album-list-singer {
    float: left;
    width: 25%;
    height: 18px;
    overflow: hidden;
}

.album-list-time {
    float: left;
    width: 13%;
    height: 18px;
}